
body {
  background: linear-gradient(-45deg, red, black, rebeccapurple, darkblue);

}

/*Box Stuff below*/

.bigBox{
  display:flex;
  height: 30em;
  margin: 1em 5em;
  background-color: black;
  flex-wrap:wrap;
  border: 1px solid black;
  border-radius: 5%;
  overflow: auto;
}

.bigBox::-webkit-scrollbar {
  display: none;
}


.addMovieStyle {
  color: whitesmoke;
  margin: 1em 5em;
  background-color: black;
  flex-wrap:wrap;
  border: 1px solid black;
  border-radius: 5%;
}

.cardBox {
  flex-basis:100%;
  display: flex;
  color: whitesmoke;
  background-color: transparent;
  margin: 1em;
  height: 20em;
  position: relative;
  border: 1px solid black;
  border-radius: 5%;
}

.leftSide {
  flex-basis: 30%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}
.image{
  flex-basis:100%;
  height:60%;
  background-color:black;
  border: 1px;
  border-radius: 10%;
}
.title{
  flex-basis:100%;
  height:20%;
  margin:0;
  background-color:transparent;
}
.genre{
  flex-basis:100%;
  height:20%;
  background-color:transparent;
}
.content {
  flex-basis: 65%;
  margin-left: auto;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}
.plot {
  height:40%;
  flex-basis: 100%;
  background-color: transparent;
  overflow: auto;
}
.notPlot {
  height:55%;
  flex-basis:100%;
  margin-top: auto;
  background-color: transparent;
  display: flex;
}
.rating {
  height: 100%;
  flex-basis: 30%;
  margin: auto;
  background-color: transparent;
}
.releaseYear{
  height: 100%;
  flex-basis: 30%;
  margin: auto;
  background-color: transparent;
}
.directedBy{
  height: 100%;
  flex-basis: 30%;
  margin: auto;
  background-color: transparent;
}
.deleteButton {
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-size: 18px;
}
.editButton {
  position: absolute;
  bottom: 8px;
  right: 220px;
  font-size: 18px;
}

h1 {
  color: whitesmoke;
  font-weight: bolder;
}

.animation {
  text-align: center;
  /*border: 15px solid;*/
  animation-name: square;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes square {
  0% {
    color: whitesmoke; transform: scale(1) rotate(720deg);
  }
  25% {
    color: orangered; transform: scale(1.1);
  }
  50% {
    color: red; transform: scale(1.3);
  }
  75% {
    color: rebeccapurple; transform: scale(1.1);
  }
  100% {
    color: whitesmoke; transform: scale(1) rotate(360deg);
  }

}
