



body {
  background: linear-gradient(-45deg, red, black, rebeccapurple, darkblue);
}

.display-card{
  /*height: 100em;*/
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

#container {
  /*height: 40em;*/
  width: 90%;
  border: 5px solid black;
  border-radius: 25px;
  padding: 1em;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 2em;
  overflow-x: hidden;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}


.body-card {
  /*height: 50em;*/
  overflow: auto;
  margin: auto;
}

h1 {
  color: whitesmoke;
  font-weight: bold;
}

